<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-layout}">
<head>
<title>SEBTIBEB - Login Form</title>
</head>
<body>
	<div id="login" class="container" layout:fragment="content" align="center">
		
		<form th:action="@{/public/member/login}" method="post">
			<h1>LOGIN</h1>
			
			<i class="fa fa-user" aria-hidden="true"></i> 
			<input type="text" name="username" placeholder="Username" /> 
			<i class="fa fa-lock" aria-hidden="true"></i>
			<input type ="password" name="password" placeholder="Password" /> 
			<input type="submit" value="login">

		</form>
		<div>
			<p>New Member?<a th:href="@{/public/register}">create account</a> </p>
		</div>
	</div>

</body>
</html>