<footer th:fragment="footer" xmlns:th="http://www.thymeleaf.org">
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<div class="collapse navbar-collapse" id="navbarColor01">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"
					style="color: #fff; padding-left: 2em; padding-right: 1em;">
					SEBTIBEB ::: Tesfai G. &nbsp; &copy; 2021</li>
				<!--  <li class="nav-item"><a class="nav-link" href="/about">About</a>
                </li> -->
			</ul>

		</div>
	</nav>
</footer>