<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-layout}">
<head>
<title>SEBTIBEB - Contact Information</title>
</head>
<body>
	<div class="container" layout:fragment="content">
		<div id="development">
			<h4>SEBTIBEB : Contact Information</h4>
			<p><a href="https://www.facebook.com/100023857696699/posts/1089787491826497/?d=n">facebook</a></p>
			<p><a href="#">Email</a></p>
			<p><a href="#">Telephone</a></p>			
			<br> 
			<img alt="camera" th:src="@{/images/camera.jpg}">
		</div>
	</div>
</body>
</html>