<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layouts/main-layout}">
<head>
<meta charset="ISO-8859-1">

<title>SEBTIBEB - Information</title>
</head>
<body>
	<div class="container" layout:fragment="content">
		<h2 style="text-align: center;">SEBTIBEB - Information</h2>
		<hr />
		<p style="font-size: 1.2em">
			According to the Beta Israel tradition, the Jewish kingdom of Beta
			Israel, later called the kingdom of Gondar, was initially established
			after Ezana was crowned as the Emperor of Axum in 325 CE. Ezana, who
			was educated in his childhood by the missionary Frumentius, declared
			Christianity as the religion of the Ethiopian empire after he was
			crowned. The inhabitants who practiced Judaism and refused to convert
			to Christianity began revolting; this group was referred to as "Beta
			Israel" by the emperor. <br> <a
				href="https://en.wikipedia.org/wiki/History_of_the_Jews_in_Ethiopia">Read
				more here</a>

		</p>
		<div id="development">
			<img alt="camera" th:src="@{/images/gold.JPG}">
		</div>
		
	</div>
</body>
</html>